{%- comment -%}

render_indices
  creates the individual links in the sidebar
  - pages, layouts, and guide-indexes are indented when parented

params:
  doc_list=<array of document objects to create links for>
  collection_label=<name of collection the docs belong to>
  page_title=<title of the calling page>
  no_indent=<pipe delimited list of layouts that should not be indented>

{%- endcomment -%}
{% assign no_indenting = include.no_indent | split: '|' %}
{% for doc in include.doc_list %}
  {% capture link %}{{ doc.title }}{% endcapture %}
  {% capture url %}{{ doc.url }}#/{{ include.collection_label | downcase }}/{% endcapture %}
  {% capture item_id %}{% if doc.title == include.page_title %} id="active-page-index"{% endif %}{% endcapture %}
  {% capture item_class %}{% if doc.title == include.page_title %}active {% endif %}item{% endcapture %}
  {% unless no_indenting contains doc.layout %}
    {% assign path_bits = doc.relative_path | split: '.' | first | split: '/' %}
    {% assign n = path_bits.size | minus: 2 %}
    {% if n == 0 %}{% assign item_class = item_class | append: ' header' %}{% endif %}
    {% if n > 3 %}{% assign n = 3 %}{% endif %}
    {% capture indent %}{% for i in (1..n) %}&ensp;{% endfor %}{% endcapture %}
    {% capture link %}{{ indent }}{{ doc.title }}{% endcapture %}
  {% endunless %}
  <a{{ item_id }} class="very tight smaller text {{ item_class }}" href="{{ site.baseurl }}{{ url }}">{{ link }}</a>
{% endfor %}
